.h2
  font-size: 2rem
  position: relative
  text-align: center

  &::after 
    content: ''
    display: inline-block
    width: 10px
    height: 10px
    background: #4a90e2
    border-radius: 50%
    margin-left: 5px
